secret/
Assets Processed/
files-shaked/
files-to-rename/
files-downloaded/
# Ignore the real environment variable files
.env
.env.*
!*.example
*pycache/
.DS_Store
assets/
*asset*
*download*/
*scrap*/
__pycache__/
