secret/
Assets Processed/
files-shaked/
files-to-rename/
files-downloaded/
# Ignore the real environment variable files
.env
.env.*
!*.example
*pycache/
.DS_Store
*assets*/
*secret*
*__pycache__

*download*/
*scrap*/
__pycache__/
__pycache__/*